templates/start/cloudwatch.json
{
  "StartAt": "ListResourcesCloudwatch",
  "States": {
    "ListResourcesCloudwatch": {
      "Next": "ResourceMapCloudwatch",
      "Parameters": {
        "FunctionName": "${list_resources_lambda_arn}",
        "Payload": {
          "action.$": "$.action",
          "input.$": "$.input",
          "service": "cloudwatch"
        }
      },
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.lambdaResponse",
      "ResultSelector": {
        "resources.$": "$.Payload"
      },
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 5
        }
      ],
      "Type": "Task"
    },
    "ResourceMapCloudwatch": {
      "End": true,
      "ItemsPath": "$.lambdaResponse.resources",
      "Iterator": {
        "StartAt": "WaitCloudwatch",
        "States": {
          "EnableCloudwatch": {
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "ErrorCatcherCloudwatch"
              }
            ],
            "End": true,
            "Parameters": {
              "AlarmNames.$": "States.Array($.attributes.name)"
            },
            "Resource": "arn:aws:states:::aws-sdk:cloudwatch:enableAlarmActions",
            "Retry": [
              {
                "BackoffRate": 2,
                "ErrorEquals": [
                  "States.ALL"
                ],
                "IntervalSeconds": 10,
                "MaxAttempts": 5
              }
            ],
            "Type": "Task"
          },
          "ErrorCatcherCloudwatch": {
            "End": true,
            "Type": "Pass"
          },
          "WaitCloudwatch": {
            "Next": "EnableCloudwatch",
            "TimestampPath": "$.nextExecutionTime",
            "Type": "Wait"
          }
        }
      },
      "Type": "Map"
    }
  }
}
