templates/start/ecs.json
{
  "StartAt": "ListResourcesECS",
  "States": {
    "ListResourcesECS": {
      "Next": "ResourceMapECS",
      "Parameters": {
        "FunctionName": "${list_resources_lambda_arn}",
        "Payload": {
          "action.$": "$.action",
          "input.$": "$.input",
          "service": "ecs"
        }
      },
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.lambdaResponse",
      "ResultSelector": {
        "resources.$": "$.Payload"
      },
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 2
        }
      ],
      "Type": "Task"
    },
    "ResourceMapECS": {
      "End": true,
      "ItemsPath": "$.lambdaResponse.resources",
      "Iterator": {
        "StartAt": "WaitECS",
        "States": {
          "ErrorCatcherECS": {
            "End": true,
            "Type": "Pass"
          },
          "FormatDynamoDBECS": {
            "Next": "UpdateECS",
            "Parameters": {
              "desiredCount.$": "$.dynamoResult.Item.autoscaling.M.desiredCount.S"
            },
            "ResultPath": "$.resource.autoscaling",
            "Type": "Pass"
          },
          "GetDesiredCountECS": {
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "ErrorCatcherECS"
              }
            ],
            "Next": "InDBECS",
            "Parameters": {
              "Key": {
                "id": {
                  "S.$": "$.id"
                }
              },
              "ProjectionExpression": "autoscaling",
              "TableName": "${dynamodb_table_name}"
            },
            "Resource": "arn:aws:states:::dynamodb:getItem",
            "ResultPath": "$.dynamoResult",
            "Retry": [
              {
                "BackoffRate": 2,
                "ErrorEquals": [
                  "States.ALL"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 3
              }
            ],
            "Type": "Task"
          },
          "InDBECS": {
            "Choices": [
              {
                "Comment": "Yes",
                "IsPresent": true,
                "Next": "FormatDynamoDBECS",
                "Variable": "$.dynamoResult.Item"
              }
            ],
            "Default": "ErrorCatcherECS",
            "Type": "Choice"
          },
          "UpdateECS": {
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "ErrorCatcherECS"
              }
            ],
            "End": true,
            "Parameters": {
              "Cluster.$": "$.attributes.cluster",
              "DesiredCount.$": "States.StringToJson($.resource.autoscaling.desiredCount)",
              "Service.$": "$.attributes.service"
            },
            "Resource": "arn:aws:states:::aws-sdk:ecs:updateService",
            "Retry": [
              {
                "BackoffRate": 2,
                "ErrorEquals": [
                  "States.ALL"
                ],
                "IntervalSeconds": 10,
                "MaxAttempts": 5
              }
            ],
            "Type": "Task"
          },
          "WaitECS": {
            "Next": "GetDesiredCountECS",
            "TimestampPath": "$.nextExecutionTime",
            "Type": "Wait"
          }
        }
      },
      "Type": "Map"
    }
  }
}
