templates/start/lambda.json
{
  "StartAt": "ListResourcesLambda",
  "States": {
    "ListResourcesLambda": {
      "Next": "ResourceMapLambda",
      "Parameters": {
        "FunctionName": "${list_resources_lambda_arn}",
        "Payload": {
          "action.$": "$.action",
          "input.$": "$.input",
          "service": "lambda"
        }
      },
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.lambdaResponse",
      "ResultSelector": {
        "resources.$": "$.Payload"
      },
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 5
        }
      ],
      "Type": "Task"
    },
    "ResourceMapLambda": {
      "End": true,
      "ItemsPath": "$.lambdaResponse.resources",
      "Iterator": {
        "StartAt": "WaitLambda",
        "States": {
          "ErrorCatcherLambda": {
            "End": true,
            "Type": "Pass"
          },
          "StartLambda": {
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "ErrorCatcherLambda"
              }
            ],
            "End": true,
            "Parameters": {
              "FunctionName.$": "$.attributes.name"
            },
            "Resource": "arn:aws:states:::aws-sdk:lambda:deleteFunctionConcurrency",
            "Retry": [
              {
                "BackoffRate": 2,
                "ErrorEquals": [
                  "States.ALL"
                ],
                "IntervalSeconds": 10,
                "MaxAttempts": 5
              }
            ],
            "Type": "Task"
          },
          "WaitLambda": {
            "Next": "StartLambda",
            "TimestampPath": "$.nextExecutionTime",
            "Type": "Wait"
          }
        }
      },
      "Type": "Map"
    }
  }
}
